<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="style.css">
		<title>Exercise App</title>
	</head>
	<body>
		<header>
			<h1>Exercise App</h1>
		</header>
		<div id="ex-input"></div>
	<div id="main"></div>

	<script type="text/template" id="exerciseViewTemplate">
			<td><%= exercise.get('id') || "ID" %></td>
			<td><%= exercise.get('name') %></td>
			<td class="sets"><%= exercise.get('sets') %></td>
			<td class="reps"><%= exercise.get('reps') %></td>
			<td class="weight"><%= exercise.get('weight') %></td>
			<td><%= parseInt(exercise.get('sets'))*parseInt(exercise.get('reps'))*parseInt(exercise.get('weight')) %></td>
			<td><button class="delBut" data-id='<%= exercise.cid %>' type="button">X</button></td>
	</script>

	<script type="text/template" id="exerciseListTemplate">
		<input id="new-ex" placeholder="Exercise Name">
		<p>text</p>

		<button id="create-ex" type="button">Work!</button><br><br>
		<table class="exercise-table">
			<thead>
				<tr>
					<th>Number</th>
					<th>Name</th>
					<th>Sets</th>
					<th>Reps</th>
					<th>Weight</th>
					<th>Total Work</th>
					<th>Remove</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>

	</script>




		<script src="js/lib/jquery.min.js"></script>
		<script src="js/lib/underscore-min.js"></script>
		<script src="js/lib/backbone-min.js"></script>
		<script src="js/lib/backbone.localStorage.js"></script>
		<script src="js/models/exercise.js"></script>
		<script src="js/collections/exercises.js"></script>
		<script src="js/views/exercise_view.js"></script>
		<script src="js/views/exercises.js"></script>

	</body>
</html>